@page

<h1 class="text-center"><span class="badge badge-secondary">TO-DO</span></h1><br/>
<ul class="list-group text-center">
    <li class="list-group-item">Se till att en admin inte kan radera sitt eget konto om det bara finns en admin (och inte flera).</li>
    <li class="list-group-item">Applicera (Exception) Filters</li>
</ul>

