<ul class="nav navbar-nav">
    <li><a class="font-login" asp-page="/Account/Register">Registrera dig</a></li>
    <li class="spaceLoginNavbar"><a class="font-login" asp-page="/Account/Login">Logga in</a></li>
</ul>