@page

<h4 class="bg-danger text-white text-center p-2">Ingen behörighet</h4>

<div class="m-2 text-center">
    <h4>Du har inte behörighet till denna sida</h4>
    <a class="btn btn-primary" href="/">OK</a>
    <a class="btn btn-primary" asp-page="Logout">Logga ut</a> 
</div>
 